## 되새김 문제

### 평균 점수 구하기

In [2]:
ko = 80
en  = 75
ma = 55
total = ko + en + ma
avg = total / 3
print(avg)

70.0

### 홀수, 짝수 판별하기

In [61]:
num = 16 % 2
print(num)

if num==0:
    print('짝수')
else:
    print('홀수')

0
짝수

### 주민등록번호 나누기

In [7]:
pin = '881120-1068234'
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

### 주민등록번호 인덱싱

In [64]:
pin = '881120-2068234'
gender = pin[7:8]
print(gender)

if gender=='1':
    print('남')
else:
    print('여')

2
여

### 문자열 바꾸기

In [18]:
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

### 리스트 역순 정리하기

In [22]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

### 리스트를 문자열로 만들기

In [25]:
a=['Life','is','too','short']
print(' '.join(a))

Life is too short

### 튜플 더하기

In [26]:
a = (1,2,3)
b = (4,)
print(a+b)

(1, 2, 3, 4)

### 딕셔너리의 키

In [56]:
a = dict()
a['name'] = 'python'
a[('a',)] = 'python' # 튜플을 이용해도 가능, 튜플은 변경 불가해서
# a[[1]] = 'python' -리스트는 변경 가능한 값이기 때문에 딕셔너리에서 사용x
a[250] = 'python'
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

### 딕셔너리 값 추출하기

In [49]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 딕셔너리 값 추출하기

In [50]:
a = {'A':90,'B':80,'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 리스트에서 중복 제거하기

In [51]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set([1,1,1,2,2,3,3,3,4,4,5])
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

### 파이썬 변수

In [52]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]