In [1]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host="mysql", #MySQL 서버1 주소
        user="root",
        password="1234"
    )
    conn2 = mysql.connector.connect(
        host="210.119.14.81", #MySQL 서버2 주소
        user="root",
        password="1234"
    )
    if conn1.is_connected():
        print('MySQL 서버1에 성공적으로 연결되었습니다')
    if conn2.is_connected():
        print('MySQL 서버2에 성공적으로 연결되었습니다')
except mysql.connector.Error as err:
    print('MySQL 서버 연결 실패되었습니다', err)
finally:
    if all([conn1.is_connected(),conn2.is_connected()]):
        print('연결중..')

MySQL 서버1에 성공적으로 연결되었습니다
MySQL 서버2에 성공적으로 연결되었습니다
연결중..

In [2]:
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
que = 'CREATE DATABASE IF NOT EXISTs mjdb'
cursor1.execute(que)
cursor2.execute(que)
conn1.close()
conn2.close()

In [3]:
# MySQL 에 연결
conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버주소
        user="root",
        password="1234",
        database="mjdb" # 사용할 데이터베이스
    )
conn2 = mysql.connector.connect(
        host="210.119.14.81", # MySQL 서버주소
        user="root",
        password="1234",
        database="mjdb" # 사용할 데이터베이스
    )
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print('MySQL 연결성공!')

MySQL 연결성공!

In [4]:
# 테이블생성
query = 'CREATE TABLE IF NOT EXISTS users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), age INT, city VARCHAR(50))'
cursor1.execute(query)
cursor2.execute(query)
print('테이블 생성 완료')

테이블 생성 완료

In [5]:
# 여러개의 데이터 삽입
sql = 'INSERT INTO users(name, age, city) VALUES (%s, %s, %s)'
m_values=[('지민',2,'언제 옴'),('오늘',27,'학식 고'),('Coolboy',22,'Jeju')]
cursor1.executemany(sql, m_values)
cursor2.executemany(sql, m_values)
conn1.commit()
conn2.commit()
print('여러개의 데이터 삽입 완료')

여러개의 데이터 삽입 완료

In [7]:
# 모든 데이터 조회
que = 'SELECT * FROM users'
cursor1.execute(que)
users1 = cursor1.fetchall()
cursor2.execute(que)
users2 = cursor2.fetchall()
print('===서버1===')
for user in users1:
    print(user)
print('===서버2===')
for user in users2:
    print(user)

===서버1===
(1, 'superman', 33, 'Seoul')
(2, 'Cutegirl', 27, 'Suwon')
(3, 'Coolboy', 22, 'Jeju')
(4, 'superman', 33, 'Seoul')
(5, 'Cutegirl', 27, 'Suwon')
(6, 'Coolboy', 22, 'Jeju')
(7, '지민', 2, 'ㅃㄹ왕')
(8, '오늘', 27, '학식 고')
(9, '지민', 2, '언제 옴')
(13, '지민', 2, '언제 옴')
(14, '오늘', 27, '학식 고')
(15, 'Coolboy', 22, 'Jeju')
===서버2===
(1, 'superman', 33, 'Seoul')
(2, 'Cutegirl', 27, 'Suwon')
(3, 'Coolboy', 22, 'Jeju')
(4, 'superman', 33, 'Seoul')
(5, 'Cutegirl', 27, 'Suwon')
(6, 'Coolboy', 22, 'Jeju')
(7, '지민', 2, 'ㅃㄹ왕')
(8, '오늘', 27, '학식 고')
(9, '지민', 2, '언제 옴')
(10, '지민', 2, '언제 옴')
(11, '오늘', 27, '학식 고')
(12, 'Coolboy', 22, 'Jeju')